/* stylesheet */

body {
    /* height: 100vh; */
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    /* grid-template-rows: 50px; */
    grid-auto-rows: 20px;
    justify-content: center;
    /* align-content: center; */
    /* height: 200px; */
    /* grid-template-areas: 'header header' 'sidebar content'; */

}


/* .box {
    background-color: blue;
    border-color: green;
    height: 50px;
    width: 50px;
} */



.grid {
    background-color: peachpuff;
    border: 1px solid red;
    /* grid-column: span 1; */
    /* grid-area: header; */
    /* grid-column-start: 1;
    grid-column-end: 3; */

}

/* .row {
    background-color: blueviolet;
    border: 1px solid aqua;
}  */













/* .container > div {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    /* justify-content: center; */
    
    /* background-color: black;
    border: 1px solid red;
    flex: 1  19.53px; */
    /* height: 50px; */
    /* width: 50px; */
    /* height: 50%;

/* .container > div:before {
    content: '';
    float: left;
    padding-top: 100%;
    display: table;
} */

/* .test {

    
    border: 1px solid black;
    background-color: aqua;
} */


/* .create { 
    border: 1px solid red;
    height: 20px;
    width: 20px;

 
} */

/* .grid {
    border: 1px solid aqua;
    background-color: blueviolet;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 31.25px;
    min-height: 31.25px;

    
} */

/* .grid-item {
    height: 50px;
    width: 50px;
} */



/* .grid2 { 
    border: 1px solid green;
    height: 16px;
    width: 16px;
} */


