/* stylesheet */

body {
    height: 100vh;
    margin: 0;
}

.container {
display: flex;
flex-wrap: wrap;
background-color: white;
border: 1px solid black;
width: auto;




}

div {

    background-color: black;
    border: 1px solid aqua;
    height: 50px;
    width: 50px;

}


/* .create { 
    border: 1px solid red;
    height: 20px;
    width: 20px;

 
} */

/* .grid {
    border: 1px solid red;
    height: 16px;
    width: 16px;
  

} */



.grid2 { 
    border: 1px solid green;
    height: 16px;
    width: 16px;
}


